{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}


{% block content %}
<h1>{{ page.title }}</h1>
<div class="intro">{{ page.intro|richtext }}</div>

<div class="product-list">
  {% for product in products %}
    <div class="product">
      <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
       {% if product.image %}
      {% image product.image fill-400x250 class="course-image" %}
    {% endif %}
    
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <div>{{ product.description|richtext }}</div>
    </div>
  {% endfor %}
</div>
{% endblock %}
