{% extends "base.html" %}
<!-- {% load static wagtailcore_tags %} -->
{% load static %}

{% block content %}
<div id="wrapper" class="flex ">
  {% for section in page.home_sections %}
    {% if section.block_type == "intro_section" %}
        <section class="panel {{ section.value.section_class }}"{% if section.value.background_image_url %} style="background: var(--lightredbg) url('{{ section.value.background_image_url }}') no-repeat center center / cover;"{% endif %}>
          <h1>
            <span class="span">{{ section.value.kicker }}</span>
            {{ section.value.title }}
          </h1>

          <div class="centerBox">
            <div class="innerBox">
              {% if section.value.main_links %}
                {% for link in section.value.main_links %}
                  <a href="{{ link.url|default:'#' }}" class="centerBoxLink">
                    {% if link.image_url %}
                      <img src="{{ link.image_url }}" alt="{{ link.image_alt }}">
                    {% elif link.icon_class %}
                      <span class="{{ link.icon_class }}"></span>
                    {% endif %}
                    {{ link.label }}
                    <span class="next-right"></span>
                  </a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>
    {% endif %}
  {% endfor %}


</div>

<!-- ← 左箭头 -->
<button id="prevBtn" class="arrow left my">❮</button>
<!-- → 右箭头 -->
<button id="nextBtn" class="arrow right my">❯</button>

{% include "components/botmenu.html" %}

{% endblock %}
