# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite DB
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# Editor & system files
.vscode/
.DS_Store
Thumbs.db

# Node modules (frontend projects)
node_modules/

# Django media uploads (optional)
media/

# Logs
*.log
