{% extends "base_info.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!-- <div class="container"> -->
  <!-- <h1>{{ page.title }}</h1> -->

  <!-- {% if page.intro %}
  <div class="intro">
    {{ page.intro|richtext }}
  </div>
  {% endif %} -->

  <div class="course-list">
    
    {% for course in courses %}
    <div class="course-card">
      <a href="{{ course.url }}">
        {% if course.image %}
        {% image course.image fill-400x250 class="course-image" %}
        {% endif %}
        <h3>{{ course.title }}</h3>
        <div class="infotextbox">{{ course.description|richtext }}</div>
        <h4><span>RM</span> {{ course.price }}</h4>
        
        <p><strong>Teacher:</strong> {{ course.teacher }}</p>
        <p><strong>Location:</strong> {{ course.location }}</p>
        <p><strong>Start Date:</strong> {{ course.date }}</p>
        {% if course.age %}
        <p><strong>Age:</strong> {{ course.age }}</p>
        {% endif %}
        <p><strong>Weekday:</strong> {{ course.get_weekday_display }}</p>
        <p><strong>Time:</strong> {{ course.start_time|time:"g:i a" }} - {{ course.end_time|time:"g:i a" }}</p>
        <p><strong>Type:</strong> {{ course.get_course_type_display }}</p>
      </a>
    </div>
    {% empty %}
    <p>暂时没有课程。</p>
    {% endfor %}
  </div>
<!-- </div> -->
{% endblock %}
