{% extends "base_info.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">
  <!-- <h1>{{ page.title }}</h1> -->

  <div class="course-detail">
    {% if page.image %}
    {% image page.image fill-700x400 class="course-image" %}
    {% endif %}
    <ul>
      <li>
        <p><strong>Teacher:</strong> {{ page.teacher }}</p>
      </li>
      <li>
        <p><strong>Location:</strong> {{ page.location }}</p>
      </li>
      <li>
        <p><strong>Date:</strong> {{ page.date }}</p>
      </li>
      {% if page.age %}
      <li>
        <p><strong>Age:</strong> {{ page.age }}</p>
      </li>
      {% endif %}
      <li>
        <p><strong>Weekday:</strong> {{ page.get_weekday_display }}</p>
      </li>
      <li>
        <p><strong>Time:</strong> {{ page.start_time|time:"g:i a" }} - {{ page.end_time|time:"g:i a" }}</p>
      </li>
      <li>
        <p><strong>Type:</strong> {{ page.get_course_type_display }}</p>
      </li>
      <li>
        <p><strong>Price:</strong> RM {{ page.price }}</p>
      </li>
      <li>
        
      </li>
    </ul>
    <div class="info-box">
      {{ page.description|richtext }}
    </div>
  </div>

  <a href="{{ page.get_parent.url }}">Back to courses</a>
</div>
{% endblock %}